<div class="jumbotron text-center">
    <h1>Customer CRUD</h1>
    <a ui-sref="addCustomer" class="btn">Add Customer</a>
    <a ui-sref="generateReport" class="btn">Generate Report</a>

</div>


<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Phone</th>
        <th>DOB</th>
        <th>Addresses</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat="customer in customers track by $index">
        <td>{{customer.name}}</td>
        <td>{{customer.mobile}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.dob|date}}</td>
        <td><p ng-repeat="address in customer.addresses">
        {{address|beautifyAddress}}</p></td>
        <td>{{customer.email}}</td>
        <td>
            <a ui-sref="editCustomer({id: customer._id})">
                <i class="fa fa-pencil pointer" title="Edit"></i>
            </a>
            <a href="#" ng-click="deleteCustomer(customer)">
                <i class="fa fa-trash-o pointer" title="Delete"></i>
            </a>
        </td>
      </tr>
    </tbody>
  </table>